

/*globals */
.btn{
    border-radius: 20px;
}

.heading{
    padding: 1.25rem 0 1.25rem 0;
    margin: 0;
}



.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card{
    display: flex;
    flex-direction: row;
    max-width: 65rem;
    padding: 1.25rem;
    margin: 0 1.25rem 2.25rem 1.25rem;
    background-color: rgb(196, 196, 196, 0.26);
    border: none;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.15);
    transition: all 150ms ease-in-out;

}

 .card:hover{
    transform: scale(1.05);

 }

.card__image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.card__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 0 1.25rem 0 1.25rem;
}


.company{
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.image__title{
    display: flex;
    justify-content: start;
    margin: 1rem 0 1rem 0;
}

/* For Mobile */
@media (max-width: 767.98px) { 
    .card__image{
        width: 100%;
    }
}
@media (max-width: 767.98px) { 
    .card__body{
        width: 100%;
        padding: 0;
    }
}
@media (max-width: 767.98px) { 
    .card{
        flex-direction: column;
    }
}

