
.company{
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.image__title{
    display: flex;
    justify-content: start;
    margin: 1rem 0 1rem 0;
}

.image {
    max-width: 35rem;
    height: auto;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

